* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(119, 0, 255);
    margin-bottom: 2rem;
    padding: 2rem;
}

ul {  
    display: flex;
    gap: 1em;
}

li {
    list-style: none;
}

li > a { 
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    color: white;
    padding: 6px;
    border-radius: 4px;
}

a:hover {
    background-color: rgb(117, 19, 230);
}

.universallist li {
    list-style-type: style;
    line-height: 2rem;
    margin-bottom: 2rem;
}

body {
    margin-top: 0;
    padding-top: 0%;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    background-color: white;
}

main {
    margin: 2rem;
    padding: 2rem;
}

h1, h2 {
    margin-bottom: 1.5rem;
    line-height: 3rem;
}

p {
    margin-bottom: 2rem;
    line-height: 2rem;
}

img {
    max-width: 100%;
    width: 500px;
    height: auto;
    margin-bottom: 2rem;
}

.menu {
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    background-color: rgb(119, 0, 255);
    padding: 10px 0;
    display: none;
}

input[type=checkbox]{
    display: none;
}

input[type=checkbox]:checked ~ ul {
    display: block;
}

@media screen and (max-width: 800px){
    .menu {
        display: block;
    }

    ul {
        display: none;
    }

    li {
        padding: 10px 0;
        text-align: center;
    }
}
