header {
    background-color: rgb(108, 235, 255);
    margin-bottom: 2rem;
    padding: 2rem;
}

li > a {
    color: black;
}

a:hover {
    background-color: rgb(91, 201, 218);
}

body {
    background-color: rgb(185, 236, 252);
}

img {
    border-radius: 50%;
}

.menu {
    color: black;
    background-color: rgb(108, 235, 255);
}

.pane {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 15px 15px;
}

.glass {
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
    text-align: center;
}

h2 {
    margin: 2rem;
}

p {
    margin: 2rem;
}

@media screen and (max-width: 900px){
    .pane {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        gap: 15px 15px;
    }
}