@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(255, 166, 215);
    margin-bottom: 2rem;
    padding: 2rem;
    box-shadow: 1px 1px 5px 0;
}

ul {  
    display: flex;
    gap: 1em;
}

li {
    list-style: none;
}

li > a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    color: white;
    padding: 6px;
    border-radius: 4px;
}

a:hover {
    background-color: rgb(248, 143, 201);
}

body {
    margin-top: 0;
    padding-top: 0%;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    background-color: rgb(255, 214, 237);
}

main {
    margin: 2rem;
    padding: 2rem;
}

h1, h2 {
    margin-bottom: 1.5rem;
    line-height: 3rem;
    font-family: 'Sacramento', cursive;
}

p {
    margin: 2rem;
    line-height: 2rem;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
    margin: 2rem;
}

img {
    max-width: 100%;
    width: 500px;
    height: auto;
    margin-bottom: 2rem;
    border-radius: 50%;
}

.menu {
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
    color: white;
    background-color: rgb(255, 166, 215);
    padding: 10px 0;
    display: none;
}

input[type=checkbox]{
    display: none;
}

input[type=checkbox]:checked ~ ul {
    display: block;
}

.pane {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 15px 15px;
}

.glass {
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
    text-align: center;
}

@media screen and (max-width: 900px){
    .pane {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        gap: 15px 15px;
    }
}

@media screen and (max-width: 800px){
    .menu {
        display: block;
    }

    ul {
        display: none;
    }

    li {
        padding: 10px 0;
        text-align: center;
    }
}