* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(119, 0, 255);
    margin-bottom: 2rem;
    padding: 2rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar > ul {  
    display: flex;
    gap: 1em;
}

li {
    list-style: none;
}

li > a {
    text-decoration: none;
    color: white;
}

.universallist li {
    list-style-type: style;
    line-height: 2rem;
    margin-bottom: 2rem;
}

body {
    margin-top: 0;
    padding-top: 0%;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    background-color: white;
}

main {
    margin: 2rem;
    padding: 2rem;
}

h1, h2 {
    margin-bottom: 1.5rem;
    line-height: 3rem;
}

p {
    margin-bottom: 2rem;
    line-height: 2rem;
}

img {
    max-width: 100%;
    width: 500px;
    height: auto;
    margin-bottom: 2rem;
}

@media screen and (max-width: 600px) {
    header {
        overflow: hidden;
    }

    li a {
        font-size: 16px;
    }
}